* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-image: url("img/jornaldefundo2.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}
main {
  padding: 100px 0;
}
div#caixa {
  background-image: url("img/folhaescrita.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1201px;
  width: 900px;
  display: block;
  margin: 0 auto;
}
div#caixa header {
  position: relative;
  top: 10px;
  background-color: transparent;
  width: 100%;
}
div#caixa header h1 {
  font-size: 3.5em;
  font-weight: 900;
  text-align: center;
}
div#caixa header nav {
  position: relative;
  top: 56px;
  padding: 0 50px;
}
div#caixa header nav ul {
  display: flex;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
div#caixa-1 {
  position: relative;
  top: 99px;
  left: 21px;
  width: 858px;
  height: 374px;
  background-color: transparent;
  padding: 20px;
}
div#caixa-1 div#crimes {
  position: relative;
  top: 3px;
  left: 0px;
  width: 428px;
  height: 200px;
  background-image: url("img/crimessss.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
div#caixa-1 div#segunda-foto {
  position: relative;
  top: -189px;
  right: 31px;
  float: right;
  width: 293px;
  height: 280px;
  background-image: url("img/segundafoto.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
div#caixa-1 div#textos {
  display: flex;
  width: 450px;
}
div#caixa-1 div#textos p {
  text-align: justify;
  margin: 10px;
  font-size: 12px;
}
div#caixa p#aaa {
  float: right;
  width: 100%;
  padding: 0 20px;
  position: relative;
  top: -1px;
  font-size: 2.5em;
  text-align: justify;
  margin: 0;
}

h3{
  width: 20%;
  position: relative;
  font-size: 2.5em;
  text-align: justify;
  margin-right: 50%;
 }

 div#terceirafoto {
  position: relative;
  top: 278px;
  left: 176px;
  width: 203px;
  height: 324px;
  background-image: url("img/fotodaprisao.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

p#preso {
  font-size: 2.6em;
  font-weight: 900;
  position: relative;
  top: -48px;
  left: 25px;
  width: 142px;
}



#outracaixa {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: transparent;
  top: 100px;
  left: 100px;
}

#foto-fim {
  position: relative;
  top: -424px;
  left: 277px;
  height: 263px;
  width: 200px;
  background-image: url(img/fimmmmmmmm.jpg);
  background-size: cover;
  background-position: center right;
}

#outracaixa h4 {
  position: relative;
  top: -687px;
  left: 508px;
  width: 236px;
  font-size: 2.5em;
}

#outracaixa p {
  position: relative;
  top: -653px;
  left: 279px;
  width: 220px;
}

footer h5 {
  position: relative;
  top: -98px;
  left: 445px;
  width: 400px;
  font-size: 1em;
}

span.vermelho {
  font-weight: 800;
  color: #000000;
  text-decoration: none;
}

li a {
  text-decoration: none;
}

span.vermelho {

}

footer h6 {
  position: relative;
  top: -125px;
  left: 119px;
  width: 322px;
  font-size: 1em;
}

footer div {
  position: relative;
  top: -57px;
  left: 41px;
  background-image: url("img/jornal.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

div#caixa-1 div#textos2 {
  display: flex;
  width: 400px;
}

div#caixa-1 div#segundafoto{
  position: relative;
  top: -20px;
  right: 31px;
  float: right;
  width: 250px;
  height: 280px;
  background-image: url("img/segundafoto.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

div#caixa-1 div#textos2 {
  display: flex;
  width: 500px;

}
div#caixa-1 div#textos2 p {
  text-align: justify;
  margin: 10px;
  font-size: 12px;
}

div#espaco-do-meio {
  position: relative;
  top: 99px;
  left: 21px;
  width: 858px;
  height: 374px;
  background-color: transparent;
  padding: 20px;

}