* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
 background-image: url("img/jornaldefundo2.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
}
nav.vermelho li{
  background-color: #dddd;
  padding:10px;
  margin: 2px;;
  Transition: background-color 1s;
}

main {
  padding: 100px 0;
}
div#caixa {
  background-image: url("img/folhaescrita.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1201px;
  width: 900px;
  display: block;
  margin: 0 auto;
}
div#caixa header {
  position: relative;
  top: 10px;
  background-color: transparent;
  width: 100%;
}
div#caixa header h1 {
  font-size: 3.5em;
  font-weight: 900;
  text-align: center;
}
div#caixa header nav {
  position: relative;
  top: 56px;
  padding: 0 50px;
}
div#caixa header nav ul {
  display: flex;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
div#caixa-1 {
  position: relative;
  top: 99px;
  left: 21px;
  width: 858px;
  height: 374px;
  background-color: transparent;
  padding: 20px;
}
div#caixa-1 div#crimes {
  position: relative;
  top: 3px;
  left: 0px;
  width: 428px;
  height: 200px;
  background-image: url("img/crimessss.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
div#caixa-1 div#segunda-foto {
  position: relative;
  top: -188px;
  right: 12px;
  float: right;
  width: 298px;
  height: 313px;
  background-image: url(img/segundafoto.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

div#caixa-1 div#textos {
  display: flex;
  width: 450px;
}
div#caixa-1 div#textos p {
  text-align: justify;
  margin: 10px;
  font-size: 12px;
}
div#caixa p#aaa {
  float: right;
  width: 100%;
  padding: 0 20px;
  position: relative;
  top: -66px;
  font-size: 3.5em;
  text-align: justify;
  margin: 0;
}

h3{
  width: 20%;
  position: relative;
  font-size: 2.5em;
  text-align: justify;
  margin-right: 50%;
 }

 div#terceirafoto {
  position: relative;
  top: 278px;
  left: 176px;
  width: 203px;
  height: 324px;
  background-image: url("img/fotodaprisao.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

p#preso {
  font-size: 2.6em;
  font-weight: 900;
  position: relative;
  top: -48px;
  left: 25px;
  width: 142px;
}



#outracaixa {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: transparent;
  top: 100px;
  left: 100px;
}

#foto-fim {
  position: relative;
  top: -424px;
  left: 277px;
  height: 263px;
  width: 200px;
  background-image: url(img/fimmmmmmmm.jpg);
  background-size: cover;
  background-position: center right;
}

#outracaixa h4 {
  position: relative;
  top: -687px;
  left: 508px;
  width: 236px;
  font-size: 2.5em;
}

#outracaixa p {
  position: relative;
  top: -653px;
  left: 279px;
  width: 220px;
}

footer h5 {
  position: relative;
  top: -98px;
  left: 445px;
  width: 400px;
  font-size: 1em;
}

span.vermelho {
  font-weight: 800;
  color: #661111;
  text-decoration: none;
}

li a {
  text-decoration: none;
}

span.vermelho {

}

footer h6 {
  position: relative;
  top: -125px;
  left: 119px;
  width: 322px;
  font-size: 1em;
}

footer div {
  position: relative;
  top: -57px;
  left: 41px;
  background-image: url("img/jornal.png");
  background-size: cover;
  width: 50px;
  height: 50px;
}

div#caixa-1 div#textos2 {
  display: flex;
  width: 400px;
  top: 250px;
  margin-left: 23px;
}


div#caixa-1 div#segundafoto {
  position: relative;
  top: 20px;
  right: 2px;
  float: right;
  width: 278px;
  height: 280px;
  background-image: url(img/segundafoto.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

div#caixa-1 div#textos2 {
  display: flex;
  width: 500px;

}
div#caixa-1 div#textos2 p {
  text-align: justify;
  margin-left: -19px;
  font-size: 15px;
  top: 23px;
  position: relative;
}

div#espaco-do-meio {
  position: relative;
  top: 99px;
  left: 21px;
  width: 858px;
  height: 374px;
  background-color: transparent;
  padding: 20px;

}
div#caixa p#ppppp {
  float: right;
  width: 25%;
  padding: -9px -17px;
  position: absolute;
  top: 848px;
  font-size: 12.5px;
  text-align: justify;
  margin-left: 380px;
}
div#caixa p#pp2 {
  float: right;
  width: 25%;
  padding: -9px -17px;
  position: absolute;
  top: 954px;
  font-size: 12.5px;
  text-align: justify;
  margin-left: 380px;
}
div#caixa p#ppp3 {
  float: right;
  width: 25%;
  padding: -9px -17px;
  position: absolute;
  top: 1025px;
  font-size: 12.5px;
  text-align: justify;
  margin-left: 380px;
}
div#caixa p#pppp4 {
  float: right;
  width: 17%;
  padding: -9px -17px;
  position: absolute;
  top: 1094px;
  font-size: 13px;
  text-align: justify;
  margin-left: 19px;
}
div#textosdomeio p {
  float: right;
  width: 98%;
  padding: -9px -17px;
  position: absolute;
  top: 24px;
  font-size: 19px;
  text-align: justify;
  margin-left: -19px;
}

iframe#video1 {
  top: -490px;
  width: 300px;
  margin-left: 19%;
  display: block;
  position: relative;
  transform: translateY(45);
}
div#caixa p#titulovideoinfancia {
  top: -80px;
  width: 400px;
  margin-left: 3.5%;
  display: block;
  position: relative;
  font-size: 22px;
}
.ytp-title-channel {
  background: transparent;
  -webkit-border-radius: 153px;
  -moz-border-radius: 25px;
  border-radius: 111px;
  display: none;
  height: 50px;
  margin-left: -93px;
  overflow: hidden;
  position: absolute;
  top: 7px;
  left: 0;
  width: 50px;
}
.ytp-large-play-button {
  position: absolute;
  left: 82%;
  top: 76%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
  -webkit-transition: opacity .25s cubic-bezier(0,0,.2,1);
  -o-transition: opacity .25s cubic-bezier(0,0,.2,1);
  transition: opacity .25s cubic-bezier(0,0,.2,1);
  z-index: 63;
}
footer.pe{
  position: relative;
  top: -125px;
  left: 119px;
  width: 322px;
  font-size: 1.5em;
}
/*crimes*/

div#caixa-1{
position: relative;
  top: 99px;
  left: 21px;
  width: 858px;
  height: 374px;
  background-color: transparent;
  padding: 20px;
}

div#caixa-1 div#crimes {
  position: relative;
  top: 3px;
  left: -6px;
  width: 445px;
  height: 208px;
  background-image: url(img/crimessss.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

div#caixa-1 div#txt-caixa1-crimes {
  display: flex;
  width: 450px;
}

div#caixa-1 div#txt-caixa1-crimes p {
  text-align: justify;
  margin-right: 182px;
  font-size: 22px;
  right: -167px;
  top: 23px;
  width: 43%;
  height: 23px;
  position: absolute;
}

div#caixa div#txt2-caixa1-crimes p {
  text-align: justify;
  margin-right: -19px;
  font-size: 18px;
  top: 12px;
  width: 807px;
  right: 3px;
  position: relative;
}
div#caixa div#txt3-caixa1-crimes p {
  text-align: justify;
  margin-right: -19px;
  font-size: 17px;
  top: 67px;
  width: 807px;
  right: 790px;
  position: relative;
}

div#caix2 div#caip p {
  text-align: justify;
  margin-right: -7px;
  font-size: 14px;
  top: 285px;
  width: 486px;
  position: relative;
  right: -378px;
}
div#caix3 div#caip2 p {
  text-align: justify;
  margin-right: -7px;
  font-size: 27px;
  top: -181px;
  width: 857px;
  position: relative;
  right: -22px;
}
p#ultimo-p {
  text-align: justify;
  margin-right: -7px;
  font-size: 14px;
  top: 86px;
  width: 323px;
  position: relative;
  right: -19px;
}
p#titulo-do-video-de-crimes {
  text-align: justify;
  margin-right: -7px;
  font-size: 23px;
  top: -255px;
  width: 408px;
  position: relative;
  right: -20px;
}
span.vermelho {
  font-weight: 800;
  color: #661111;
  text-decoration: none;
}

/*FIM*/

div#caixa-1{
  position: relative;
    top: 99px;
    left: 21px;
    width: 858px;
    height: 374px;
    background-color: transparent;
    padding: 20px;
  }

  div#caixa-1 div#foto-fim {
    position: relative;
    top: 15px;
    left: 358px;
    width: 447px;
    height: 289px;
    background-image: url(img/fimmmmmmmm.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

  div#caixa-1 div#txt-caixa1-fim {
    display: flex;
    width: 450px;
  }

  div#caixa-1 div#txt-caixa1-fim p {
    text-align: justify;
    margin: 10px;
    right: 470px;
    width: 365px;
    height: 25px;
    font-size: 22px;
    top: 26px;
    position: absolute;
}
p#text2 {
  text-align: justify;
  right: -11px;
  width: 863px;
  height: 23px;
  font-size: 17px;
  top: 330px;
  position: absolute;
}
p#text3 {
  text-align: justify;
  right: 14px;
  width: 855px;
  height: 23px;
  font-size: 25px;
  top: 395px;
  position: absolute;
}
p#text4 {
  text-align: justify;
  right: 17px;
  width: 477px;
  height: 23px;
  font-size: 18px;
  top: 564px;
  position: absolute;
}
p#text5 {
  text-align: justify;
  right: 19px;
  width: 474px;
  height: 23px;
  font-size: 19px;
  top: 702px;
  position: absolute;
}
p#text6 {
    text-align: justify;
    right: 15px;
    width: 483px;
    height: 23px;
    font-size: 18px;
    top: 788px;
    position: absolute;
}


  /*VIDA NO PRESIDIO*/

  div#caixa-1{
     position: relative;
      top: 99px;
      left: 21px;
      width: 858px;
      height: 374px;
      background-color: transparent;
      padding: 20px;
    }

    div#caixa-1 div#foto-presidio {
      position: relative;
      top: 3px;
      left: 0px;
      width: 466px;
      height: 349px;
      background-image: url(img/fotodaprisao.jpg);
      background-repeat: no-repeat;
      background-size: contain;
  }

  div#caixa-1 div#primeip {
    text-align: justify;
    margin: 10px;
    right: 10px;
    width: 600px;
    font-size: 20px;
    top: 23px;
    position: absolute;
}
div#caixadomeio div#segunp {
  text-align: justify;
  margin: 35px;
  right: 489px;
  width: 855px;
  font-size: 16px;
  top: 652px;
  position: absolute;
}
div#ultimacaixa div#pultimacixa {
  text-align: justify;
  margin: 10px;
  right: 533px;
  width: 469px;
  font-size: 14.2px;
  top: 837px;
  position: absolute;
}
div#caixabaixodovideo div#penultp {
  text-align: justify;
  margin: 89px;
  right: 959px;
  width: 339px;
  font-size: 14.2px;
  top: 981px;
  position: absolute;
}
p#titulovideopresideo {
  text-align: justify;
  margin: 89px;
  right: 792px;
  width: 499px;
  font-size: 22.2px;
  top: 725px;
  position: absolute;
}
/*sobre*/
h1#missao {
  text-align: justify;
  margin: 89px;
  right: 473px;
  width: 499px;
  font-size: 46.2px;
  top: 199px;
  position: absolute;
}
h2#visao {
  text-align: justify;
  margin: 89px;
  right: 470px;
  width: 499px;
  font-size: 48.2px;
  top: 387px;
  position: absolute;
}
h3#valores {
  text-align: justify;
  margin: 10px;
  right: 619px;
  width: 469px;
  font-size: 38.2px;
  top: 670px;
  position: absolute;
}
h4#tabela {
  text-align: justify;
  margin: 35px;
  right: 238px;
  width: 458px;
  font-size: 21px;
  top: 822px;
  position: absolute;
}
p#titumissao {
  text-align: justify;
  margin: 89px;
  right: 192px;
  width: 789px;
  font-size: 24.2px;
  top: 259px;
  position: absolute;
}
p#tituvisao {
  text-align: justify;
  margin: 89px;
  right: 182px;
  width: 806px;
  font-size: 26.2px;
  top: 451px;
  position: absolute;
}
p#titu2visao {
  text-align: center;
  margin: 89px;
  right: 700px;
  width: 308px;
  font-size: 26.2px;
  top: 788px;
  position: absolute;
}

p#tituvalores {
  text-align: justify;
  margin: 10px;
  right: 246px;
  width: 844px;
  font-size: 27.2px;
  top: 722px;
  position: absolute;
}

  
